<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.959575603490-ikivfj2dhjofupt0unpp7870t4uvsvkt</string>
				<string>app-1-959575603490-ios-431997f429dd3c3f070d7b</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
